<!-- seller-dashboard.component.html -->

<div class="bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 min-h-screen flex flex-col">
    
    <nav class="bg-gradient-to-r from-gray-800 via-gray-700 to-gray-600 text-white p-4">
      <div class="container flex items-center justify-between">
          
          <a class="text-2xl font-bold text-yellow-700" >Revenue Dashboard</a>
          <div class="flex space-x-8">
              

               <div class="flex flex-row space-x-2 block py-2 px-3 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-yellow-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">
                <i class="fa fa-clock-o" aria-hidden="true"></i>
                  <p routerLink="/pending-revenue-req">Pending Requests</p>
              </div>           
          </div>
         
          <div class="flex items-end  space-x-2 block py-2 px-3 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-yellow-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">
              <i class="fa fa-sign-out" aria-hidden="true"></i>
              <a (click)="logout()">Logout</a>
          </div>
      </div>
  </nav> 


<div class="container mx-auto mt-8">
  <h2 class="text-2xl font-bold mb-4">Tax Approvals</h2>

  <div class="flex flex-wrap justify-center items-center">

    <!-- Use *ngFor to iterate through the array of responses -->
    <div *ngFor="let response of allRequests" class="bg-gradient-to-r from-blue-100 to-blue-200 hover:from-blue-200 hover:to-blue-300 transform hover:scale-105 shadow-lg rounded-lg m-4 max-w-md w-full transition-transform duration-300 ease-in-out">
      <div class="p-6">
        <!-- Card Content -->
        <div class=" pt-4 grid grid-cols-2 gap-4">
          <!-- Left Side -->
          <div>
            <label class="text-gray-800 mb-2 font-bold">Land ID:</label>
            <p class="text-gray-600 mb-2">{{ response.landid }}</p>
  
            <label class="text-gray-800 mb-2 font-bold">Owner VPA:</label>
            <p class="text-gray-600 mb-2">{{ response.ownerid }}</p>
  
            <label class="text-gray-800 mb-2 font-bold">Area:</label>
            <p class="text-gray-600 mb-2">{{ response.area }}</p>
  
            <label class="text-gray-800 mb-2 font-bold">Price:</label>
            <p class="text-gray-600 mb-2">{{ response.price }}</p>
  
            <label class="text-gray-800 mb-2 font-bold">Location:</label>
            <p class="text-gray-600 mb-2">{{ response.location }}</p>
  
            <label class="text-gray-800 mb-2 font-bold">Address:</label>
            <p class="text-gray-600 mb-2">{{ response.address }}</p>
          </div>
  
          <!-- Right Side -->
          <div>
            <label class="text-gray-800 mb-2 font-bold">Registrar Status:</label>
            <p [class]="response.registrar_Status === 'Pending' ? 'text-yellow-500 font-bold' : 'text-green-500 font-bold'">{{ response.registrar_Status }}</p>
  
            <label class="text-gray-800 mb-2 font-bold">Revenue Status:</label>
            <p [class]="response.revenue_Status === 'Pending' ? 'text-yellow-500 font-bold' : 'text-green-500 font-bold'">{{ response.revenue_Status }}</p>
  
            <!-- You can add conditional styling for Pending status -->
          </div>
        </div>
      </div>
    </div>
  
  </div>
  
</div>

  
   
  </div>
