<!-- src/app/card-list/card-list.component.html -->
<div class="bg-gradient-to-r from-blue-100 to-blue-200 hover:from-blue-200 hover:to-blue-300 min-h-screen flex flex-col">
<div class="flex justify-center items-center h-screen space-x-5">
    <!-- Card 1 -->
    <div class="card-container" (click)="onPlatformCardClick()">
      <div class="card pt-16">
        <i class=" flex justify-center fa fa-th-list text-6xl text-center" aria-hidden="true"></i>
        <div class="flex flex-col items-center justify-center px-6 py-4">
          <div class="font-bold text-xl mb-2">Platform</div>
        </div>
      </div>
    </div>
  
    <!-- Card 2 -->
    <div class="flex justify-center card-container"(click)="onDashboardClick('registrar')">
      <div class="card pt-16">
        <i class="flex justify-center fa fa-file-text-o text-6xl text-center" aria-hidden="true"></i>
        <div class="flex flex-col items-center justify-center px-6 py-4">
          <div class="font-bold text-xl mb-2">Registrar</div>
        </div>
      </div>
    </div>
  
    <!-- Card 3 -->
    <div class="card-container"(click)="onDashboardClick('revenue')">
      <div class="card pt-16">
        <i class="flex justify-center fa fa-money text-6xl text-center" aria-hidden="true"></i>
        <div class="flex flex-col items-center justify-center px-6 py-4">
          <div class="font-bold text-xl mb-2">Revenue</div>
        </div>
      </div>
    </div>
  
    <!-- Card 4 -->
    <div class="card-container" (click)="onDashboardClick('finance')">
      <div class="card pt-16">
        <i class="flex justify-center fa fa-university text-6xl text-center" aria-hidden="true"></i>
        <div class="flex flex-col items-center justify-center px-6 py-4">
          <div class="font-bold text-xl mb-2">Finance</div>
        </div>
      </div>
    </div>
  </div>

</div>
  