<div class="bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 min-h-screen flex flex-col">
    <h2 class="text-3xl font-bold mb-6 pl-8 pt-8 text-white">Transactions History</h2>
    
    <!-- Table for Transactions -->
    <div class="overflow-x-auto px-5 py-5">
        <table class="min-w-full bg-white border border-gray-300 rounded-lg shadow-md">
            <thead class="bg-indigo-600 text-white">
                <tr>
                    <th class="py-3 px-4 text-left border-b">Transaction ID</th>
                    <th class="py-3 px-4 text-left border-b">Buyer</th>
                    <th class="py-3 px-4 text-left border-b">Seller</th>
                    <th class="py-3 px-4 text-left border-b">Transaction Date</th>
                    <th class="py-3 px-4 text-left border-b">Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let transaction of transactions" class="hover:bg-gray-100 transition">
                    <td class="py-2 px-4 text-left border-b">{{ transaction.id }}</td>
                    <td class="py-2 px-4 text-left border-b">{{ transaction.buyer }}</td>
                    <td class="py-2 px-4 text-left border-b">{{ transaction.seller }}</td>
                    <td class="py-2 px-4 text-left border-b">{{ transaction.transactionDate | date:'medium' }}</td>
                    <td class="py-2 px-4 text-left border-b">₹{{ transaction.amount }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
