<!-- seller-dashboard.component.html -->

<div class="bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 min-h-screen flex flex-col">
    <!-- Navbar -->
    <nav class="bg-gradient-to-r from-gray-800 via-gray-700 to-gray-600 text-white p-4">
      <div class="container mx-auto flex items-center justify-between">
        <!-- Brand/logo (customize according to your needs) -->
        <a class="text-2xl font-bold text-yellow-700">Buyer Dashboard</a>
        
        <!-- Navbar links -->
        <div class="flex space-x-8">
           
            <!-- <div  class="space-x-2 block py-2 px-3  rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-yellow-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">
                <i class="fa fa-eye" aria-hidden="true"></i>
                <a routerLink="/seller-dashboard/orders" >View My Requests</a>
            </div> -->
            <!-- <div  class="flex flex-row space-x-2 block py-2 px-3  rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-yellow-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">
                <img  src="/assets/registered-document.png" class="h-8 text-white" aria-hidden="true">
                <a routerLink="/seller-dashboard/orders" >Register Land Asset</a>
            </div>
            <div  class="flex flex-row space-x-2 block py-2 px-3  rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-yellow-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">
                <img  src="/assets/request.png" class="h-8 text-white" aria-hidden="true">
                <a routerLink="/seller-dashboard/orders" >Buyer Requests</a>
                
            </div> -->
          <!-- Add other links as needed -->
          <!-- <div  class="space-x-2 block py-2 px-3  rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-yellow-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">
            <i class="fa fa-eye" aria-hidden="true"></i>
            <a routerLink="/seller-dashboard/orders" >Logout</a>
          </div> -->
        </div>
      </div>
    </nav>
  
    <!-- Content area -->
    <!-- <div class="container mx-auto flex-1 p-4">
      <router-outlet></router-outlet>
    </div> -->

    <div class="container mx-auto mt-8">
      <h2 class="text-2xl font-bold mb-4">My Requests</h2>
      
      
    
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
        <!-- Buyer Request Card -->
        <div *ngFor="let request of allRequests" class="bg-gradient-to-r from-blue-100 to-blue-200 hover:from-blue-200 hover:to-blue-300 rounded overflow-hidden shadow-lg transform transition-transform duration-300 hover:scale-105 border-solid border-2 border-yellow-400">
          <!-- Card Content -->
          <!-- <div *ngIf="request.registrar_Status.toUpperCase() == 'APPROVED' && request.revenue_Status.toUpperCase() == 'APPROVED'"> -->
          <div class="p-4">
            <h3 class="font-bold text-xl mb-2"><strong>ID</strong> : {{ request.requestId }}</h3>
            <p class="text-gray-700"><strong>Owner VPA</strong>  : {{ request.ownerid }}</p>
            <p class="text-gray-700"><strong>Land ID</strong>    : {{ request.landid }}</p>
            <p class="text-gray-700"><strong>For Loan</strong>   : {{ request.requireloan }}</p>
            <div class="flex flex-row space-x-4">
              <p class="text-gray-700"><strong>Status :</strong></p>
              <p [class]="request.status.toUpperCase()=== 'APPROVED' ? 'text-green-500 font-bold' : 'text-yellow-500 font-bold'">{{ request.status }}</p>
            </div>
           
            
            <!-- Additional details as needed -->
    
            <!-- Approve and Reject Buttons -->
            <!-- <div class="flex justify-between mt-4"> -->
              <!-- <button  (click)="RaiseBuyRequest(land, 'yes')" class="bg-green-500 hover:bg-green-600 text-white px-4 py-2 rounded">Request To Buy</button>
              <button  (click)="RaiseBuyRequest(land, 'no')" class="bg-green-500 hover:bg-green-600 text-white px-4 py-2 rounded">Buy With Loan</button> -->
              <!-- <button class="bg-red-500 hover:bg-red-600 text-white px-4 py-2 rounded">Reject</button> -->
            <!-- </div> -->
          </div>
        <!-- </div> -->
        </div>
    
        <!-- Repeat the card structure for each buyer request -->
      </div>
    </div>
  </div>
  