
<div class="bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 min-h-screen flex flex-col">

    <h2 class="text-2xl font-bold mb-4 pt-5 pl-10">Pending Registration Requests</h2>
    <div class="flex flex-wrap justify-center items-center">
        
      <!-- Use *ngFor to iterate through the array of responses -->
      <div *ngFor="let response of allRequests" class="bg-gradient-to-r from-blue-100 to-blue-200 hover:from-blue-200 hover:to-blue-300 transform hover:scale-105 shadow-lg rounded-lg m-4 max-w-md w-full transition-transform duration-300 ease-in-out">
        <div class="p-6">
            <div class="flex justify-between mt-4 space-x-4">
                <button class="w-1/2 bg-green-500 hover:bg-green-600 text-white px-4 py-2 rounded"(click)="ApproveReq(response)">Approve</button>
                <button class="w-1/2 bg-red-500 hover:bg-red-600 text-white px-4 py-2 rounded"(click)="RejectReq(response)">Reject</button>
            </div>
    
          <!-- Card Content -->
          <div class="pt-4 grid grid-cols-2 gap-4">
            <!-- Left Side -->
            <div>
              <label class="text-gray-800 mb-2 font-bold">Land ID:</label>
              <p class="text-gray-600 mb-2">{{ response.landid }}</p>
    
              <label class="text-gray-800 mb-2 font-bold">Owner VPA:</label>
              <p class="text-gray-600 mb-2">{{ response.ownerid }}</p>
    
              <label class="text-gray-800 mb-2 font-bold">Area:</label>
              <p class="text-gray-600 mb-2">{{ response.area }}</p>
    
              <label class="text-gray-800 mb-2 font-bold">Price:</label>
              <p class="text-gray-600 mb-2">{{ response.price }}</p>
    
              <label class="text-gray-800 mb-2 font-bold">Location:</label>
              <p class="text-gray-600 mb-2">{{ response.location }}</p>
    
              <label class="text-gray-800 mb-2 font-bold">Address:</label>
              <p class="text-gray-600 mb-2">{{ response.address }}</p>
            </div>
    
            <!-- Right Side -->
            <div>
              <label class="text-gray-800 mb-2 font-bold">Registrar Status:</label>
              <p [class]="response.registrar_Status === 'Pending' ? 'text-yellow-500 font-bold' : 'text-green-500 font-bold'">{{ response.registrar_Status }}</p>
    
              <label class="text-gray-800 mb-2 font-bold">Revenue Status:</label>
              <p [class]="response.revenue_Status === 'Pending' ? 'text-yellow-500 font-bold' : 'text-green-500 font-bold'">{{ response.revenue_Status }}</p>
    
              <!-- You can add conditional styling for Pending status -->
            </div>
          </div>
        </div>
      </div>
    
    </div>
    
    </div>
    