<!-- seller-dashboard.component.html -->

<div class="bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 min-h-screen flex flex-col">
    
    <nav class="bg-gradient-to-r from-gray-800 via-gray-700 to-gray-600 text-white p-4">
      <div class="container flex items-center justify-between">
          
          <a class="text-2xl font-bold text-yellow-700" >Seller Dashboard</a>
          <div class="flex space-x-8">
              

              <div class="flex flex-row space-x-2 block py-2 px-3 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-yellow-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">
                  <i class="fa fa-exchange" aria-hidden="true"></i>
                  <p routerLink="/transfer-land">Transfer Land</p>
              </div>
              <div class="flex flex-row space-x-2 block py-2 px-3 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-yellow-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">
                  <img src="/assets/registered-document.png" class="h-8 text-white" aria-hidden="true">
                  <p routerLink="/register-land-asset">Register Land Asset</p>
              </div> 
              <div class="flex flex-row space-x-2 block py-2 px-3 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-yellow-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">
                <i class="fa fa-eye" aria-hidden="true"></i>
                <p routerLink="/view-seller-lands">View My Land Assets</p>
            </div>             
          </div>
  
         
          <div class="flex items-end  space-x-2 block py-2 px-3 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-yellow-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">
              <i class="fa fa-sign-out" aria-hidden="true"></i>
              <a (click)="logout()">Logout</a>
          </div>
      </div>
  </nav> 

  
  
  
    <!-- Content area -->
    <!-- <div class="container mx-auto flex flex-row space-x-2 pt-4 flex-1  p-4">
        <img src="/assets/request.png" class="h-8 text-white" aria-hidden="true">
        <a class="text-2xl font-bold text-grey-700" >Buyer Requests</a>
    </div> -->

    <!-- get-buyer-requests.component.html -->

    <!-- get-buyer-requests.component.html -->

<div class="container mx-auto mt-8">
  <h2 class="text-2xl font-bold mb-4">Buyer Requests</h2>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    <!-- Buyer Request Card -->
    <div *ngFor="let request of buyerRequests" class="bg-white rounded overflow-hidden shadow-lg transform transition-transform duration-300 hover:scale-105 border-solid border-2 border-yellow-400">
      <!-- Card Content -->
      <div class="p-4">
        <h3 class="font-bold text-xl mb-2">ID: {{ request.requestId }}</h3>
        <div class="flex justify-between">
          <div class="text-left">
            <p class="text-gray-700">
              <span class="font-bold">Land ID:</span><br>
              <span class="font-bold">Buyer VPA:</span><br>
              <span class="font-bold">Owner :</span><br>
              <span class="font-bold">Require Loan:</span><br>
             
            </p>
          </div>
          <div class="text-right">
            <p class="text-gray-700">
              {{ request.landid }}<br>
              {{ request.buyerid }}<br>
              {{ request.ownerid }}<br>
              <span [ngClass]="{'text-green-500': request.requireloan === 'yes', 'text-red-500': request.requireloan === 'no'}">
                {{ request.requireloan === 'yes' ? '✔' : '✘' }}
              </span><br>
            </p>
          </div>
        </div>
  
        <!-- Approve and Reject Buttons -->
        <div class="flex justify-between mt-4">
          <button class="bg-green-500 hover:bg-green-600 text-white px-4 py-2 rounded"(click)="ApproveReq(request)">Approve</button>
          <button class="bg-red-500 hover:bg-red-600 text-white px-4 py-2 rounded"(click)="RejectReq(request)">Reject</button>
        </div>
      </div>
    </div>
  
    <!-- Repeat the card structure for each buyer request -->
  </div>
  
</div>

  
   
  </div>
