<div class="bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 min-h-screen flex flex-col">
<div class="min-w-screen min-h-screen bg-white-900 flex items-center justify-center px-5 py-5">
    <div class="bg-gray-100 text-gray-500 rounded-3xl shadow-xl w-full overflow-hidden" style="max-width:1000px">
        <div class="md:flex w-full">
            <div class="hidden md:block w-1/2 bg-indigo-500">
                <img src="/assets/register.jpg" alt="Your Image Alt Text" style="width: 100%; height: 100%;">
            </div>
            <div class="w-full md:w-1/2 py-10 px-5 md:px-10">
                <form [formGroup]="registerForm">
                    <div class="text-center mb-10">
                        <h1 class="font-bold text-3xl text-gray-900">TRANSFER LAND</h1>
                        <p>Enter Transfer Details</p>
                    </div>
                    <div>
                        <!-- <div class="flex -mx-3">
                            <div class="w-full px-3 mb-5">
                                <label for="requestId" class="text-xs font-semibold px-1">Request ID</label>
                                <div class="flex">
                                    <div class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center"><i class="fa fa-id-card"></i></div>
                                    <input id="requestId" type="text" formControlName="requestid" class="w-full -ml-10 pl-10 pr-3 py-2 rounded-lg border-2 border-gray-200 outline-none focus:border-indigo-500" placeholder="Request ID" />
                                </div>
                                <div *ngIf="registerForm.get('requestid')?.hasError('required') && registerForm.get('requestid')?.touched" class="text-red-500">
                                    Request ID is required.
                                </div>
                            </div>
                        </div> -->
                        <div class="flex -mx-3">
                            <div class="w-full px-3 mb-5">
                                <label for="landId" class="text-xs font-semibold px-1">Land ID</label>
                                <div class="flex">
                                    <div class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center"><i class="fa fa-id-card"></i></div>
                                    <input id="landId" type="text" formControlName="landid" class="w-full -ml-10 pl-10 pr-3 py-2 rounded-lg border-2 border-gray-200 outline-none focus:border-indigo-500" placeholder="Land ID" />
                                </div>
                                <div *ngIf="registerForm.get('landid')?.hasError('required') && registerForm.get('landid')?.touched" class="text-red-500">
                                    Land ID is required.
                                </div>
                            </div>
                        </div>
                        <div class="flex -mx-3">
                            <div class="w-full px-3 mb-5">
                                <label for="buyerId" class="text-xs font-semibold px-1">Buyer VPA</label>
                                <div class="flex">
                                    <div class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center"><i class="fa fa-id-card"></i></div>
                                    <input id="buyerId" type="text" formControlName="buyerid" class="w-full -ml-10 pl-10 pr-3 py-2 rounded-lg border-2 border-gray-200 outline-none focus:border-indigo-500" placeholder="Buyer VPA" />
                                </div>
                                <div *ngIf="registerForm.get('buyerid')?.hasError('required') && registerForm.get('buyerid')?.touched" class="text-red-500">
                                    Buyer VPA is required.
                                </div>
                            </div>
                        </div>
                        <div class="flex -mx-3">
                            <div class="w-full px-3 mb-5">
                                <label for="ownerId" class="text-xs font-semibold px-1">Owner VPA</label>
                                <div class="flex">
                                    <div class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center"><i class="fa fa-id-card"></i></div>
                                    <input readonly="true" id="ownerId" type="text" formControlName="ownerid" class="w-full -ml-10 pl-10 pr-3 py-2 rounded-lg border-2 border-gray-200 outline-none focus:border-indigo-500" placeholder="Owner VPA" />
                                </div>
                                <div *ngIf="registerForm.get('ownerid')?.hasError('required') && registerForm.get('ownerid')?.touched" class="text-red-500">
                                    Owner VPA is required.
                                </div>
                            </div>
                        </div>
                        <div class="flex -mx-3">
                            <div class="w-full px-3 mb-5">
                                <button
                                    [disabled]="registerForm.invalid"
                                    [ngClass]="{
                              'bg-gray-400 cursor-not-allowed': registerForm.invalid,
                              'bg-indigo-500 hover:bg-indigo-700 focus:bg-indigo-700': registerForm.valid
                            }"
                                    class="block w-full max-w-xs mx-auto text-white rounded-lg px-3 py-3 font-semibold"
                                    (click)="onSubmit()"
                                >
                                    TRANSFER
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
