<div class="bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 min-h-screen flex flex-col">
    
<div class="min-w-screen min-h-screen bg-white-900 flex items-center justify-center px-5 py-5">
    <div class="bg-gray-100 text-gray-500 rounded-3xl shadow-xl w-full overflow-hidden" style="max-width:1000px">
        <div class="md:flex w-full">
            <div class="hidden md:block w-1/2 bg-indigo-500 ">
                <img src="/assets/register.jpg" alt="Your Image Alt Text" style="width: 100%; height: 100%;">
            </div>
            <div class="w-full md:w-1/2 py-10 px-5 md:px-10">
                <form [formGroup]="registerForm">
                <div class="text-center mb-10">
                    <h1 class="font-bold text-3xl text-gray-900">REGISTER LAND</h1>
                    <p>Enter Land Information to Register</p>
                </div>
                <div>
                    <!-- <div class="flex -mx-3">
                        <div class="w-full px-3 mb-5">
                            
                            <label for="" class="text-xs font-semibold px-1">Land Id(Document No.)</label>
                            <div class="flex">
                                <div class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center"><i class="fa fa-user icon"></i></div>
                                <input id="landid" type="text" formControlName="landid" class="w-full -ml-10 pl-10 pr-3 py-2 rounded-lg border-2 border-gray-200 outline-none focus:border-indigo-500" placeholder="Sunil Agarwal" >
                            </div>
                            <div *ngIf="registerForm.get('landid')?.hasError('required') && registerForm.get('landid')?.touched" class="text-red-500">
                                LandId is required.
                            </div>
                        </div>
                    </div> -->
                    
                    <div class="flex -mx-3">
                        <div class="w-full px-3 mb-12">
                            <label for="" class="text-xs font-semibold px-1">Aadhar VPA</label>
                            <div class="flex">
                                <div class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center"><i class="fa fa-id-card"></i></div>
                                <input type="text"[readOnly]="true" formControlName="ownerid" class="w-full -ml-10 pl-10 pr-3 py-2 rounded-lg border-2 border-gray-200 outline-none focus:border-indigo-500" placeholder="************">
                            </div>
                            <!-- <div *ngIf="registerForm.get('ownerid')?.hasError('required') && registerForm.get('aadhar')?.touched" class="text-red-500">
                                Aadhar number is required.
                            </div> -->
                        </div>
                    </div>
                    <div class="flex -mx-3">
                        <div class="w-full px-3 mb-12">
                            <label for="" class="text-xs font-semibold px-1">Survey Number</label>
                            <div class="flex">
                                <div class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center"><i class="fa fa-id-card"></i></div>
                                <input type="text" class="w-full -ml-10 pl-10 pr-3 py-2 rounded-lg border-2 border-gray-200 outline-none focus:border-indigo-500" placeholder="Enter Survey Number">
                            </div>
                            <!-- <div *ngIf="registerForm.get('ownerid')?.hasError('required') && registerForm.get('aadhar')?.touched" class="text-red-500">
                                Aadhar number is required.
                            </div> -->
                        </div>
                    </div>
                    <div class="flex -mx-3">
                        <div class="w-full px-3 mb-5">
                            <label for="" class="text-xs font-semibold px-1">Area(in sq. ft)</label>
                            <div class="flex">
                                <div class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center"><i class="fa fa-home"></i></div>
                                <input type="text" formControlName="area" class="w-full -ml-10 pl-10 pr-3 py-2 rounded-lg border-2 border-gray-200 outline-none focus:border-indigo-500" placeholder="Ex: 100 ">
                            </div>
                            <div *ngIf="registerForm.get('area')?.hasError('required') && registerForm.get('area')?.touched" class="text-red-500">
                                Area is required.
                            </div>
                        </div>
                    </div>
                    <div class="flex -mx-3">
                        <div class="w-full px-3 mb-12">
                            <label for="" class="text-xs font-semibold px-1">Price</label>
                            <div class="flex">
                                <div class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center"><i class="fa fa-inr"></i></div>
                                <input type="text" formControlName="price" class="w-full -ml-10 pl-10 pr-3 py-2 rounded-lg border-2 border-gray-200 outline-none focus:border-indigo-500" placeholder="Enter Price">
                            </div>
                            <div *ngIf="registerForm.get('price')?.hasError('required') && registerForm.get('price')?.touched" class="text-red-500">
                               Address is required.
                            </div>
                        </div>
                    </div>
                    <div class="flex -mx-3">
                        <div class="w-full px-3 mb-12">
                            <label for="" class="text-xs font-semibold px-1">Location Coordinates</label>
                            <div class="flex">
                                <div class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center"><i class="fa fa-location-arrow" aria-hidden="true"></i></div>
                                <input type="text"formControlName="location" class="w-full -ml-10 pl-10 pr-3 py-2 rounded-lg border-2 border-gray-200 outline-none focus:border-indigo-500" placeholder="Ex: 89.56,78.80">
                            </div>
                            <div *ngIf="registerForm.get('location')?.hasError('required') && registerForm.get('location')?.touched" class="text-red-500">
                                Loaction Coordinates is required.
                             </div>
                        </div>
                    </div>

                    <div class="flex -mx-3">
                        <div class="w-full px-3 mb-12">
                            <label for="" class="text-xs font-semibold px-1">Address</label>
                            <div class="flex">
                                <div class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center"><i class="fa fa-home"></i></div>
                                <input type="text"formControlName="address" class="w-full -ml-10 pl-10 pr-3 py-2 rounded-lg border-2 border-gray-200 outline-none focus:border-indigo-500" placeholder="Enter Address">
                            </div>
                            <div *ngIf="registerForm.get('address')?.hasError('required') && registerForm.get('address')?.touched" class="text-red-500">
                                Address is required.
                             </div>
                        </div>
                    </div>
                   
                    <div class="flex -mx-3">
                        <div class="w-full px-3 mb-5">
                            <button
                            [disabled]="registerForm.invalid"
                            [ngClass]="{
                              'bg-gray-400 cursor-not-allowed': registerForm.invalid,
                              'bg-indigo-500 hover:bg-indigo-700 focus:bg-indigo-700': registerForm.valid
                            }"
                            class="block w-full max-w-xs mx-auto text-white rounded-lg px-3 py-3 font-semibold"
                            (click)="onSubmit()"
                          >
                            REGISTER
                          </button>                        
                        </div>
                    </div>
                </div>
            </form>

            </div>
        </div>
    </div>
</div>
</div>