<!-- platform-login.dialog.html -->


<div class="bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 flex items-center justify-center h-screen bg-gray-100">
  <div class="max-w-md w-full bg-white p-8 rounded-md shadow-md">
    <h2 class="text-3xl font-extrabold mb-6 text-center text-indigo-500">
      {{ loginType === 'buyer' ? 'Login as Buyer' : 'Login as Seller' }}
    </h2>

<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="mb-6">
    <label for="aadhar" class="block text-gray-700 text-sm font-bold mb-2">Login with Aadhar VPA</label>
    <input
      type="text"
      id="aadhar"
      class="w-full px-4 py-2 border rounded-md focus:outline-none focus:border-indigo-500"
      formControlName="aadhar"
    />
    <div *ngIf="loginForm.get('aadhar')?.hasError('required') && loginForm.get('aadhar')?.touched" class="text-red-500">
      Aadhar is required.
    </div>
  </div>

  <div class="mb-6">
    <label for="password" class="block text-gray-700 text-sm font-bold mb-2">Password</label>
    <input
      type="password"
      id="password"
      class="w-full px-4 py-2 border rounded-md focus:outline-none focus:border-indigo-500"
      formControlName="password"
    />
    <div *ngIf="loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched" class="text-red-500">
      Password is required.
    </div>
  </div>

  <button
    type="submit"
    [disabled]="loginForm.invalid"
    [ngClass]="{
      'bg-gray-400 cursor-not-allowed': loginForm.invalid,
      'bg-indigo-500 hover:bg-indigo-700 focus:bg-indigo-700': loginForm.valid
    }"
    class="w-full bg-indigo-500 text-white p-3 rounded-md hover:bg-indigo-600 focus:outline-none focus:bg-indigo-600"
  >
    Login
  </button>
</form>

<p class="mt-4 text-center text-sm text-gray-600">
  New user? <a   class="text-indigo-500" (click)="navigateRegister(loginType)">Register</a>
</p>
</div>




