<!-- choices.component.html -->

<div class="bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 min-h-screen flex flex-col">
<div class="flex flex-col items-center justify-center h-screen">
  <p class="text-2xl font-bold mb-4">Login As</p>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-20">
    <!-- Buyer Box -->
    <button class="choice-box bg-blue-500  transform transition-transform duration-300 hover:scale-110"
    (click)="navigateToLogin('buyer')">
    <p class="text-white text-xl font-semibold">Buyer</p>
    </button>

    <!-- Seller Box -->
    <button class="choice-box bg-yellow-500 transform transition-transform duration-300 hover:scale-110"
            (click)="navigateToLogin('seller')">
      <p class="text-white text-xl font-semibold">Seller</p>
    </button>
  </div>
</div>
</div>
