<!-- seller-dashboard.component.html -->

<div class="bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 min-h-screen flex flex-col">
    
    <nav class="bg-gradient-to-r from-gray-800 via-gray-700 to-gray-600 text-white p-4">
      <div class="container flex items-center justify-between">
          
          <a class="text-2xl font-bold text-yellow-700" >Finance Dashboard</a>
          <!-- <div class="flex space-x-8">
              

               <div class="flex flex-row space-x-2 block py-2 px-3 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-yellow-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">
                <i class="fa fa-clock-o" aria-hidden="true"></i>
                  <p routerLink="/pending-registrar-req">Pending Requests</p>
              </div>           
          </div> -->
         
          <div class="flex items-end  space-x-2 block py-2 px-3 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-yellow-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">
              <i class="fa fa-sign-out" aria-hidden="true"></i>
              <a (click)="logout()">Logout</a>
          </div>
      </div>
  </nav> 


<div class="container mx-auto mt-8">
  <h2 class="text-2xl font-bold mb-4">Registration Requests</h2>

  <div class="flex flex-wrap justify-center items-center">

    <!-- Use *ngFor to iterate through the array of responses -->
    <div *ngFor="let response of allRequests" class="bg-gradient-to-r from-blue-100 to-blue-200 hover:from-blue-200 hover:to-blue-300 transform hover:scale-105 shadow-lg rounded-lg m-4 max-w-md w-full transition-transform duration-300 ease-in-out">
      <div class="p-6">
        <div class="flex justify-between mt-4 space-x-4">
            <button class="w-1/2 bg-green-500 hover:bg-green-600 text-white px-4 py-2 rounded"(click)="ApproveReq(response)">Approve</button>
            <button class="w-1/2 bg-red-500 hover:bg-red-600 text-white px-4 py-2 rounded"(click)="RejectReq(response)">Reject</button>
        </div>
        <!-- Card Content -->
        <div class=" pt-4 grid grid-cols-2 gap-4">
          <!-- Left Side -->
          <div>
            <label class="text-gray-800 mb-2 font-bold">Request ID:</label>
            <p class="text-gray-600 mb-2">{{ response.requestid }}</p>

            <label class="text-gray-800 mb-2 font-bold">Land ID:</label>
            <p [routerLink]="['/request-detail', response.landid]" class="underline underline-offset-4 flex-grow cursor-pointer text-blue-900">{{ response.landid }}</p>
  
            <label class="text-gray-800 mb-2 font-bold">Seller VPA:</label>
            <p class="text-gray-600 mb-2">{{ response.sellerid }}</p>
  
            <label class="text-gray-800 mb-2 font-bold">Buyer VPA:</label>
            <p class="text-gray-600 mb-2">{{ response.buyerid }}</p>
  
            <label class="text-gray-800 mb-2 font-bold">Loan Required:</label>
            <!-- <p class="text-gray-600 mb-2">{{ response.price }}</p> -->
            <p [ngClass]="{'text-green-500': response.finance_required.toUpperCase() === 'YES', 'text-red-500': response.finance_required.toUpperCase() === 'NO'}">
                {{ response.finance_required.toUpperCase() === 'YES' ? 'YES ✔' : 'NO ✘' }}
            </p><br>
          </div>
        </div>
      </div>
    </div>
  
  </div>
  
</div>

  
   
  </div>
